-
  const target = [
    {
      label: "すべて",
      checked: true,
      value: "all"

    },
    {
      label: "一般の方",
      checked: false,
      value: "general"
    },
    {
      label: "事業者の方",
      checked: false,
      value: "business"
    }
  ]

  const category = [
    {
      label: "くらし・環境",
      checked: true,
      value: "life-environment",
    },
    {
      label: "医療・福祉",
      checked: true,
      value: "medical-welfare",
    },
    {
      label: "しごと・産業",
      checked: true,
      value: "job-industry",
    },
    {
      label: "観光・文化",
      checked: true,
      value: "tourism-culture",
    },
    {
      label: "教育・子育て",
      checked: true,
      value: "education-child",
    },
    {
      label: "県政情報",
      checked: true,
      value: "prefectural-gov-info",
    },
  ]

  const newInfo = [
    {
      topic: '福井県多文化共生推進プランの概要版・多言語版について',
      link: 'https://www.pref.fukui.lg.jp/doc/kokusai/tabunka_plan_overview.html',
      date: { year: '2022年', month: '01月', day: '14日' },
      category: 'tourism-culture',
      isApplication: false,
      target: { general: true, business: true }
    },
    {
      topic: '（ふくい多文化共生推進ネットワーク）日本人も外国人も暮らしやすい福井を一緒に作っていきませんか？',
      link: 'https://www.pref.fukui.lg.jp/doc/kokusai/tabunka_network.html',
      date: { year: '2022年', month: '01月', day: '14日' },
      category: 'tourism-culture',
      isApplication: true,
      target: { general: true, business: true }
    },
    {
      topic: '新型コロナウイルス感染症について',
      link: 'https://www.pref.fukui.lg.jp/doc/kenkou/kansensyo-yobousessyu/corona.html',
      date: { year: '2022年', month: '01月', day: '14日' },
      category: 'medical-welfare',
      isApplication: false,
      target: { general: true, business: true }
    },
    {
      topic: '県有地の売払い（花乃杜ハイツ）のお知らせ（3307番外5筆　1件）【一般競争入札】',
      link: 'https://www.pref.fukui.lg.jp/doc/kenchikujyuutakuka/hananomori-b-ippannr3-2.html',
      date: { year: '2022年', month: '01月', day: '14日' },
      category: 'life-environment',
      isApplication: true,
      target: { general: true, business: true }
    },
    {
      topic: '令和３年度　福井県動物取扱責任者研修を実施します',
      link: 'https://www.pref.fukui.lg.jp/doc/iei/doubutsuaigo/training.html',
      date: { year: '2022年', month: '01月', day: '14日' },
      category: 'medical-welfare',
      isApplication: true,
      target: { general: false, business: true }
    },
    {
      topic: '福井県の景気動向指数',
      link: 'https://www.pref.fukui.lg.jp/doc/toukei-jouhou/fdi.html',
      date: { year: '2022年', month: '01月', day: '14日' },
      category: 'prefectural-gov-info',
      isApplication: false,
      target: { general: true, business: true }
    },
    {
      topic: '福井県景気動向指数（令和３年１０月分）を公表しました。',
      link: 'http://www.pref.fukui.lg.jp/doc/toukei-jouhou/fdi.html',
      date: { year: '2022年', month: '01月', day: '14日' },
      category: 'prefectural-gov-info',
      isApplication: false,
      target: { general: true, business: true }
    },
    {
      topic: '「ふるさと福井ＣＭコンテスト」入賞作品が決定しました',
      link: 'https://www.pref.fukui.lg.jp/doc/gimu/cm/index.html',
      date: { year: '2022年', month: '01月', day: '13日' },
      category: 'education-child',
      isApplication: false,
      target: { general: true, business: false }
    },
    {
      topic: '新型コロナウイルス感染症関連情報（介護サービス事業者・高齢者向け）',
      link: 'https://www.pref.fukui.lg.jp/doc/kourei/tyoujyukorona.html',
      date: { year: '2022年', month: '01月', day: '13日' },
      category: 'medical-welfare',
      isApplication: false,
      target: { general: true, business: true }
    },
    {
      topic: '福井県 生活関連物資　価格調査結果',
      link: 'https://www.pref.fukui.lg.jp/doc/kenan/kakakucyousa/kakakucyousa_r3-1.html',
      date: { year: '2022年', month: '01月', day: '13日' },
      category: 'life-environment',
      isApplication: false,
      target: { general: true, business: true }
    },
    {
      topic: '児童・生徒向け消費者教育の教材',
      link: 'https://www.pref.fukui.lg.jp/doc/kenan/syouhisyakyouiku2021.html',
      date: { year: '2022年', month: '01月', day: '13日' },
      category: 'life-environment',
      isApplication: false,
      target: { general: true, business: false }
    },
    {
      topic: '児童・生徒向け消費者教育の教材',
      link: 'https://www.pref.fukui.lg.jp/doc/kenan/syouhisyakyouiku2021.html',
      date: { year: '2022年', month: '01月', day: '13日' },
      category: 'education-child',
      isApplication: false,
      target: { general: true, business: false }
    },
    {
      topic: '文化芸術のステージイベント「みんなのホールプロジェクト」開催！（※中止・延期情報随時更新）',
      link: 'https://www.pref.fukui.lg.jp/doc/bunshin/minnano.html',
      date: { year: '2022年', month: '01月', day: '13日' },
      category: 'tourism-culture',
      isApplication: false,
      target: { general: true, business: false }
    },
    {
      topic: '文化芸術のステージイベント「みんなのホールプロジェクト」開催！（※中止・延期情報随時更新）',
      link: 'https://www.pref.fukui.lg.jp/doc/bunshin/minnano.html',
      date: { year: '2022年', month: '01月', day: '13日' },
      category: 'education-child',
      isApplication: false,
      target: { general: true, business: false }
    },
    {
      topic: 'シニアの皆様の地域活動や生きがいづくり、他世代間交流などの活動を行うグループを支援します。',
      link: 'https://www.pref.fukui.lg.jp/doc/kourei/seniorchallenge2021.html',
      date: { year: '2022年', month: '01月', day: '13日' },
      category: 'medical-welfare',
      isApplication: false,
      target: { general: true, business: true }
    },
    {
      topic: '園芸体験施設・園芸ＬＡＢＯの丘　２０２２年「２月」の体験プログラム',
      link: 'https://www.pref.fukui.lg.jp/doc/noushi/engeitaikensisetsu/202202taiken.html',
      date: { year: '2022年', month: '01月', day: '13日' },
      category: 'tourism-culture',
      isApplication: true,
      target: { general: true, business: false }
    },
    {
      topic: '園芸体験施設・園芸ＬＡＢＯの丘　２０２１年「１２月」の体験プログラム',
      link: 'https://www.pref.fukui.lg.jp/doc/noushi/engeitaikensisetsu/202112taiken.html',
      date: { year: '2022年', month: '01月', day: '13日' },
      category: 'tourism-culture',
      isApplication: false,
      target: { general: true, business: false }
    },
    {
      topic: '原子力災害に係る福井県の対応について',
      link: 'https://www.pref.fukui.lg.jp/doc/kikitaisaku/genshiryoku-saigai.html',
      date: { year: '2022年', month: '01月', day: '13日' },
      category: 'life-environment',
      isApplication: false,
      target: { general: true, business: true }
    },
    {
      topic: '令和３年度福井県障がい者虐待防止・権利擁護研修',
      link: 'https://www.pref.fukui.lg.jp/doc/soudansyo/chikousou/gyakutaikennsyuu2.html',
      date: { year: '2022年', month: '01月', day: '13日' },
      category: 'medical-welfare',
      isApplication: false,
      target: { general: false, business: true }
    },
    {
      topic: '県税申請用紙について',
      link: 'https://www.pref.fukui.lg.jp/doc/zeimu/teikyoi/shinnsei.html',
      date: { year: '2022年', month: '01月', day: '13日' },
      category: 'life-environment',
      isApplication: false,
      target: { general: true, business: true }
    },
    {
      topic: '福井県立学校寄宿舎指導員ならびに実習助手の採用試験について',
      link: 'https://www.pref.fukui.lg.jp/doc/gakushin/kakusyusiken.html',
      date: { year: '2022年', month: '01月', day: '12日' },
      category: 'education-child',
      isApplication: false,
      target: { general: true, business: false }
    },
    {
      topic: '福井県の物品等電子入札',
      link: 'https://www.pref.fukui.lg.jp/doc/kaikei/buppin.html',
      date: { year: '2022年', month: '01月', day: '12日' },
      category: 'prefectural-gov-info',
      isApplication: false,
      target: { general: false, business: true }
    },
    {
      topic: '福井県人権センター【新型コロナウイルスへの誤解や偏見による差別を行わないでください】',
      link: 'https://www.pref.fukui.lg.jp/doc/tihuku/jinkencenter.html',
      date: { year: '2022年', month: '01月', day: '12日' },
      category: 'education-child',
      isApplication: false,
      target: { general: true, business: false }
    },
    {
      topic: '雪害対策マニュアルを改訂しました',
      link: 'https://www.pref.fukui.lg.jp/doc/021037/setugaibousi/setugaimanyuaru.html',
      date: { year: '2022年', month: '01月', day: '12日' },
      category: 'job-industry',
      isApplication: false,
      target: { general: false, business: true }
    },
    {
      topic: '福井県産休・育休等代替職員（保健師）募集のお知らせ（二州健康福祉センター）',
      link: 'https://www.pref.fukui.lg.jp/doc/nisyuu-hwc/r03sankyu.html',
      date: { year: '2022年', month: '01月', day: '12日' },
      category: 'prefectural-gov-info',
      isApplication: true,
      target: { general: true, business: false }
    },
    {
      topic: '越前カンタケ栽培教室を行いました',
      link: 'https://www.pref.fukui.lg.jp/doc/okuetsu-noso/ringyou/kantake2021.html',
      date: { year: '2022年', month: '01月', day: '12日' },
      category: 'job-industry',
      isApplication: false,
      target: { general: true, business: false }
    },
    {
      topic: '林業遺産「越前オウレン」について',
      link: 'https://www.pref.fukui.lg.jp/doc/okuetsu-noso/ringyou/echizenouren.html',
      date: { year: '2022年', month: '01月', day: '12日' },
      category: 'job-industry',
      isApplication: false,
      target: { general: true, business: false }
    },
    {
      topic: '木質バイオマス発電施設について',
      link: 'https://www.pref.fukui.lg.jp/doc/okuetsu-noso/ringyou/mokushitsubiomas.html',
      date: { year: '2022年', month: '01月', day: '12日' },
      category: 'job-industry',
      isApplication: false,
      target: { general: true, business: true }
    },
    {
      topic: 'まいたけ生産施設について',
      link: 'https://www.pref.fukui.lg.jp/doc/okuetsu-noso/ringyou/maitakeseisanshisetsu.html',
      date: { year: '2022年', month: '01月', day: '12日' },
      category: 'job-industry',
      isApplication: false,
      target: { general: true, business: false }
    },
    {
      topic: '県庁見学',
      link: 'https://www.pref.fukui.lg.jp/doc/kouho/kengaku.html',
      date: { year: '2022年', month: '01月', day: '11日' },
      category: 'prefectural-gov-info',
      isApplication: false,
      target: { general: false, business: false }
    }
  ]


.new-info-container.layout-default 
  h2.section-title
    | 新着情報

  .section-content-body.box-shadow
    .section-filter-wrapper
      h2.section-filter-title
        span.text
          | 絞り込む
        <i class="fas fa-times"></i>

      .section-filter-content
        .section-target.section-filter
          h2.filter-title
            | 対象
          ul.target-list
            each item in target 
              li.item.target-item
                input(
                  id="target-" + item.value
                  class="new-info-filter"
                  type="radio"
                  name="target"
                  value=item.value
                  checked=item.checked
                  onClick="gtag('event', 'click', {'event_category': 'target-filter', 'event_label': '"+item.value+"'});"
                )
                label(
                  class="target-label"
                  for="target-" + item.value
                )
                  =item.label

        .section-category.section-filter
          h2.filter-title 
            | 知りたいこと
          ul.category-list
            each item in category
              li.item.category-item
                label(
                  class="checkbox category-label"
                  for="category-" + item.value
                )
                  input(
                    id="category-" + item.value
                    class="checkbox-input visually-hidden new-info-filter"
                    type="checkbox"
                    name="category"
                    value=item.value
                    checked=item.checked
                    onClick="gtag('event', 'click', {'event_category': 'category-filter', 'event_label': '"+item.value+"'});"
                  )
                  span.checkbox-label
                    =item.label

    .section-new-info-list
      ul.list.new-info-list
        li.no-info-text.is-hide
          | 「知りたいこと」を選択してください。
        each item in newInfo 
          li(
            class="item new-info-item"
            data-target-general=item.target.general ? "true" : "false"
            data-target-business=item.target.business ? "true" : "false"
            data-category=item.category
          )
            .date
              span.year
                =item.date.year
              span.month
                =item.date.month
              span.day
                =item.date.day
            .text-wrapper
              .text
                a(href=item.link) 
                  span.text
                    =item.topic
              if item.isApplication
                span.label
                  | 要申し込み

      .show-more
        a(
          href="https://www.pref.fukui.lg.jp/news.html"
          onClick="gtag('event', 'click', {'event_category': 'category', 'event_label': 'news'});"
        )
          | 新着情報一覧を見る
          <i class="fas fa-arrow-right"></i>