//-
  params: {
    title: string,
    items: [
      {
        label: string
        content: string
      }
    ]
  }
mixin Accordion(params={})
  - const props = Object.assign({}, params)
  ul.accordion
    each item, index in params.items
      - let triggerId = "accordion-" + params.title + "-" + (index + 1)
      - let panelId = "accordion-panel-" + params.title + "-" + (index + 1)
      li.accordion__list
        h3.accordion__header
          button(
            type="button"
            id=triggerId
            class="accordion-trigger"
            aria-expanded="false"
            aria-controls=panelId
          )
            .accordion-trigger__label-container
              span.accordion-trigger__label
                = item.label
              .accordion-trigger__icon
                i(class="fas fa-angle-down")

        .accordion-panel(
          id=panelId
          role="region"
          aria-hidden="true"
          aria-labelledby=triggerId
        )
          p.accordion-panel__text
            = item.content