mixin Checkbox(params={})
  - const props = Object.assign(params)
  label.checkbox(
    for=props.id
  )
    input(
      id=props.id
      class="checkbox__input"
      type="checkbox"
      name=props.name
      value=props.value
      checked=props.checked
      onClick=props.onClick
    )
    span.checkbox__label
      =props.label