mixin Textarea(params={})
  - const props = Object.assign({placeholder: "入力してください"}, params)
  .textarea
    label(
      for=props.id
      class="textarea__label"
    )
    =props.label
    textarea.textarea__input(
      id=props.id
      type="text"
      placeholder=props.placeholder
    )